In [1]:
import seaborn as sns
import pandas as pd
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [2]:
titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
# Missing Values
print(titanic.isnull().sum())

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [4]:
data = titanic[['age', 'fare', 'pclass', 'sex']]
data = pd.get_dummies(data, drop_first=True)
data.head()

    age     fare  pclass  sex_male
0  22.0   7.2500       3      True
1  38.0  71.2833       1     False
2  26.0   7.9250       3     False
3  35.0  53.1000       1     False
4  35.0   8.0500       3      True

In [5]:
imputer = IterativeImputer(max_iter=10, random_state=0)

In [6]:
data_imputed = pd.DataFrame(imputer.fit_transform(data), columns=data.columns)

In [7]:
print("Datos originales")
print(data.head(30))
print("\nDatos imputados")
print(data_imputed.head(30))

Datos originales
     age      fare  pclass  sex_male
0   22.0    7.2500       3      True
1   38.0   71.2833       1     False
2   26.0    7.9250       3     False
3   35.0   53.1000       1     False
4   35.0    8.0500       3      True
5    NaN    8.4583       3      True
6   54.0   51.8625       1      True
7    2.0   21.0750       3      True
8   27.0   11.1333       3     False
9   14.0   30.0708       2     False
10   4.0   16.7000       3     False
11  58.0   26.5500       1     False
12  20.0    8.0500       3      True
13  39.0   31.2750       3      True
14  14.0    7.8542       3     False
15  55.0   16.0000       2     False
16   2.0   29.1250       3      True
17   NaN   13.0000       2      True
18  31.0   18.0000       3     False
19   NaN    7.2250       3     False
20  35.0   26.0000       2      True
21  34.0   13.0000       2      True
22  15.0    8.0292       3     False
23  28.0   35.5000       1      True
24   8.0   21.0750       3     False
25  38.0   31.3875       3     False
26   NaN    7.2250       3      True
27  19.0  263.0000       1      True
28   NaN    7.8792       3     False
29   NaN    7.8958       3      True

Datos imputados
          age      fare  pclass  sex_male
0   22.000000    7.2500     3.0       1.0
1   38.000000   71.2833     1.0       0.0
2   26.000000    7.9250     3.0       0.0
3   35.000000   53.1000     1.0       0.0
4   35.000000    8.0500     3.0       1.0
5   26.082704    8.4583     3.0       1.0
6   54.000000   51.8625     1.0       1.0
7    2.000000   21.0750     3.0       1.0
8   27.000000   11.1333     3.0       0.0
9   14.000000   30.0708     2.0       0.0
10   4.000000   16.7000     3.0       0.0
11  58.000000   26.5500     1.0       0.0
12  20.000000    8.0500     3.0       1.0
13  39.000000   31.2750     3.0       1.0
14  14.000000    7.8542     3.0       0.0
15  55.000000   16.0000     2.0       0.0
16   2.000000   29.1250     3.0       1.0
17  33.850204   13.0000     2.0       1.0
18  31.000000   18.0000     3.0       0.0
19  22.070708    7.2250     3.0       0.0
20  35.000000   26.0000     2.0       1.0
21  34.000000   13.0000     2.0       1.0
22  15.000000    8.0292     3.0       0.0
23  28.000000   35.5000     1.0       1.0
24   8.000000   21.0750     3.0       0.0
25  38.000000   31.3875     3.0       0.0
26  26.127637    7.2250     3.0       1.0
27  19.000000  263.0000     1.0       1.0
28  22.046873    7.8792     3.0       0.0
29  26.103198    7.8958     3.0       1.0

Exercise 1:
Use MICE on the life-expectancy dataset https://www.kaggle.com/datasets/kumarajarshi/life-expectancy-who

In [10]:
# =============================
# EJERCICIO 1 — MICE en Life Expectancy (WHO)
# =============================

import pandas as pd
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.preprocessing import StandardScaler
import numpy as np

# Cargar archivo subido a Colab
# (Asegúrate de que el archivo esté en la carpeta de Colab)
df_life = pd.read_csv("Life Expectancy Data.csv")

print("Primeras filas:")
display(df_life.head())
print("\nValores nulos por columna:")
print(df_life.isnull().sum())

# Seleccionar variables numéricas relevantes
num_vars = [
    "Life expectancy ",
    "Adult Mortality",
    "infant deaths",
    "Alcohol",
    "percentage expenditure",
    "Hepatitis B",
    "Measles ",
    " BMI ",
    "under-five deaths ",
    "Polio",
    "Total expenditure",
    "Diphtheria ",
    " HIV/AIDS",
    "GDP",
    "Population",
    " thinness  1-19 years",
    " thinness 5-9 years",
    "Income composition of resources",
    "Schooling"
]

data_life = df_life[num_vars]

print("\nMissing values antes de imputar:")
print(data_life.isnull().sum())

# Imputación con MICE
imputer = IterativeImputer(max_iter=20, random_state=42)
life_imputed = pd.DataFrame(imputer.fit_transform(data_life), columns=num_vars)

print("\nValores nulos después de imputar:")
print(life_imputed.isnull().sum())

print("\nPrimeras filas imputadas:")
display(life_imputed.head(20))

Primeras filas:

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

Valores nulos por columna:
Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

Missing values antes de imputar:
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

Valores nulos después de imputar:
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64

Primeras filas imputadas:

,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,65.0,263.0,62.0,0.01,71.279624,65.0,1154.0,19.1,83.0,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,59.9,271.0,64.0,0.01,73.523582,62.0,492.0,18.6,86.0,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,59.9,268.0,66.0,0.01,73.219243,64.0,430.0,18.1,89.0,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,59.5,272.0,69.0,0.01,78.184215,67.0,2787.0,17.6,93.0,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,59.2,275.0,71.0,0.01,7.097109,68.0,3013.0,17.2,97.0,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
5,58.8,279.0,74.0,0.01,79.679367,66.0,1989.0,16.7,102.0,66.0,9.20,66.0,0.1,553.328940,2883167.0,18.4,18.4,0.448,9.2
6,58.6,281.0,77.0,0.01,56.762217,63.0,2861.0,16.2,106.0,63.0,9.42,63.0,0.1,445.893298,284331.0,18.6,18.7,0.434,8.9
7,58.1,287.0,80.0,0.03,25.873925,64.0,1599.0,15.7,110.0,64.0,8.33,64.0,0.1,373.361116,2729431.0,18.8,18.9,0.433,8.7
8,57.5,295.0,82.0,0.02,10.910156,63.0,1141.0,15.2,113.0,63.0,6.73,63.0,0.1,369.835796,26616792.0,19.0,19.1,0.415,8.4
9,57.3,295.0,84.0,0.03,17.171518,64.0,1990.0,14.7,116.0,58.0,7.43,58.0,0.1,272.563770,2589345.0,19.2,19.3,0.405,8.1
10,57.3,291.0,85.0,0.02,1.388648,66.0,1296.0,14.2,118.0,58.0,8.70,58.0,0.1,25.294130,257798.0,19.3,19.5,0.396,7.9
11,57.0,293.0,87.0,0.02,15.296066,67.0,466.0,13.8,120.0,5.0,8.79,5.0,0.1,219.141353,24118979.0,19.5,19.7,0.381,6.8
12,56.7,295.0,87.0,0.01,11.089053,65.0,798.0,13.4,122.0,41.0,8.82,41.0,0.1,198.728544,2364851.0,19.7,19.9,0.373,6.5
13,56.2,3.0,88.0,0.01,16.887351,64.0,2486.0,13.0,122.0,36.0,7.76,36.0,0.1,187.845950,21979923.0,19.9,2.2,0.341,6.2
14,55.3,316.0,88.0,0.01,10.574728,63.0,8762.0,12.6,122.0,35.0,7.80,33.0,0.1,117.496980,2966463.0,2.1,2.4,0.340,5.9
15,54.8,321.0,88.0,0.01,10.424960,62.0,6532.0,12.2,122.0,24.0,8.20,24.0,0.1,114.560000,293756.0,2.3,2.5,0.338,5.5
16,77.8,74.0,0.0,4.60,364.975229,99.0,0.0,58.0,0.0,99.0,6.00,99.0,0.1,3954.227830,28873.0,1.2,1.3,0.762,14.2
17,77.5,8.0,0.0,4.51,428.749067,98.0,0.0,57.2,1.0,98.0,5.88,98.0,0.1,4575.763787,288914.0,1.2,1.3,0.761,14.2
18,77.2,84.0,0.0,4.76,430.876979,99.0,0.0,56.5,1.0,99.0,5.66,99.0,0.1,4414.723140,289592.0,1.3,1.4,0.759,14.2
19,76.9,86.0,0.0,5.14,412.443356,99.0,9.0,55.8,1.0,99.0,5.59,99.0,0.1,4247.614380,2941.0,1.3,1.4,0.752,14.2

Exercise 2:
Use MICE on the Planets (seaborn) dataset to fill missing values

In [11]:
# =============================
# EJERCICIO 2 — MICE en Planets (seaborn)
# =============================

import seaborn as sns
import pandas as pd
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

planets = sns.load_dataset("planets")

print("Dataset con NA:")
print(planets.isnull().sum())

# Seleccionar solo columnas numéricas
num_cols = planets.select_dtypes(include=['float', 'int']).columns

data_planets = planets[num_cols]

print("\nPrimeros datos numéricos:")
display(data_planets.head())

# MICE imputación
imputer = IterativeImputer(max_iter=20, random_state=0)
planets_imputed = pd.DataFrame(imputer.fit_transform(data_planets), columns=num_cols)

print("\nValores nulos después de imputar:")
print(planets_imputed.isnull().sum())

print("\nPrimeras filas imputadas:")
display(planets_imputed.head(20))

Dataset con NA:
method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

Primeros datos numéricos:

   number  orbital_period   mass  distance  year
0       1         269.300   7.10     77.40  2006
1       1         874.774   2.21     56.95  2008
2       1         763.000   2.60     19.84  2011
3       1         326.030  19.40    110.62  2007
4       1         516.220  10.50    119.47  2009

Valores nulos después de imputar:
number            0
orbital_period    0
mass              0
distance          0
year              0
dtype: int64

Primeras filas imputadas:

    number  orbital_period       mass  distance    year
0      1.0      269.300000   7.100000     77.40  2006.0
1      1.0      874.774000   2.210000     56.95  2008.0
2      1.0      763.000000   2.600000     19.84  2011.0
3      1.0      326.030000  19.400000    110.62  2007.0
4      1.0      516.220000  10.500000    119.47  2009.0
5      1.0      185.840000   4.800000     76.39  2008.0
6      1.0     1773.400000   4.640000     18.15  2002.0
7      1.0      798.500000   3.869816     21.41  1996.0
8      1.0      993.300000  10.300000     73.10  2008.0
9      2.0      452.800000   1.990000     74.79  2010.0
10     2.0      883.000000   0.860000     74.79  2010.0
11     1.0      335.100000   9.880000     39.43  2009.0
12     1.0      479.100000   3.880000     97.28  2008.0
13     3.0     1078.000000   2.530000     14.08  1996.0
14     3.0     2391.000000   0.540000     14.08  2001.0
15     3.0    14002.000000   1.640000     14.08  2009.0
16     1.0        4.230785   0.472000     15.36  1995.0
17     5.0       14.651000   0.800000     12.53  1996.0
18     5.0       44.380000   0.165000     12.53  2004.0
19     5.0     4909.000000   3.530000     12.53  2002.0